<button routerLink="/home" class="btn btn-info mb-10px">На главную</button>

<form [formGroup]="tripAdditionForm" (ngSubmit)="addTrip()">
  <mat-form-field>
    <input formControlName="departureTime" matInput type="text">
    <mat-label>Время отправления</mat-label>
    <mat-error *ngIf="departureTime.errors && departureTime.errors.required">Required</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input formControlName="arrivalTime" matInput type="text">
    <mat-label>Время прибытия</mat-label>
    <mat-error *ngIf="arrivalTime.errors && arrivalTime.errors.required">Required</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input formControlName="departureCity" matInput type="text">
    <mat-label>Город отправления</mat-label>
    <mat-error *ngIf="departureCity.errors && departureCity.errors.required">Required</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input formControlName="arrivalCity" matInput type="text">
    <mat-label>Город прибытия</mat-label>
    <mat-error *ngIf="arrivalCity.errors && arrivalCity.errors.required">Required</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input formControlName="price" matInput type="text">
    <mat-label>Стоимость билета</mat-label>
    <mat-error *ngIf="price.errors && price.errors.required">Required</mat-error>
  </mat-form-field>
  <br>

  <button class="btn btn-info mb-10px">Добавить рейс</button>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th colspan="6">
      РАСПИСАНИЕ ПОЕЗДОВ
    </th>
  </tr>
  <tr>
    <th>
      Время отправления
    </th>
    <th>
      Время прибытия
    </th>
    <th>
      Город отправления
    </th>
    <th>
      Город прибытия
    </th>
    <th>
      Стоимость билета
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let trip of trips; let i = index">
    <td>
      <ng-container *ngIf="!trip.isEditable">{{trip.departureTime}}</ng-container>
      <input *ngIf="trip.isEditable"
             class="form-control"
             type="text"
             [(ngModel)]="trip.departureTime">
    </td>
    <td>
      <ng-container *ngIf="!trip.isEditable">{{trip.arrivalTime}}</ng-container>
      <input *ngIf="trip.isEditable"
             class="form-control"
             type="text"
             [(ngModel)]="trip.arrivalTime">
    </td>
    <td>
      <ng-container *ngIf="!trip.isEditable">{{trip.departureCity}}</ng-container>
      <input *ngIf="trip.isEditable"
             class="form-control"
             type="text"
             [(ngModel)]="trip.departureCity">
    </td>
    <td>
      <ng-container *ngIf="!trip.isEditable">{{trip.arrivalCity}}</ng-container>
      <input *ngIf="trip.isEditable"
             class="form-control"
             type="text"
             [(ngModel)]="trip.arrivalCity">
    </td>
    <td>
      <ng-container *ngIf="!trip.isEditable">{{trip.price}}</ng-container>
      <input *ngIf="trip.isEditable"
             class="form-control"
             type="text"
             [(ngModel)]="trip.price">
    </td>
    <td>
      <div class="btns">
        <button (click)="editTrip(trip)"
                class="btn"
                [ngClass]="trip.isEditable ? 'btn-success' : 'btn-primary'">
          <ng-container *ngIf="!trip.isEditable">Редактировать рейс</ng-container>
          <ng-container *ngIf="trip.isEditable">Сохранить</ng-container>
        </button>
        <button [disabled]="trip.isEditable" (click)="deleteTrip(i)" class="btn btn-danger">Удалить рейс</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
