<button routerLink="/home" class="btn btn-info mb-10px">На главную</button>

<form [formGroup]="tripAdditionForm" (ngSubmit)="addTrip()">
  <mat-form-field>
    <input formControlName="departureTime" matInput type="text">
    <mat-label>Время отправления</mat-label>
    <mat-error *ngIf="departureTime.errors && departureTime.errors.required">Required</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input formControlName="arrivalTime" matInput type="text">
    <mat-label>Время прибытия</mat-label>
    <mat-error *ngIf="arrivalTime.errors && arrivalTime.errors.required">Required</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input formControlName="departureCity" matInput type="text">
    <mat-label>Город отправления</mat-label>
    <mat-error *ngIf="departureCity.errors && departureCity.errors.required">Required</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input formControlName="arrivalCity" matInput type="text">
    <mat-label>Город прибытия</mat-label>
    <mat-error *ngIf="arrivalCity.errors && arrivalCity.errors.required">Required</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input formControlName="price" matInput type="text">
    <mat-label>Стоимость билета</mat-label>
    <mat-error *ngIf="price.errors && price.errors.required">Required</mat-error>
  </mat-form-field>
  <br>

  <button class="btn btn-info mb-10px">Добавить рейс</button>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th colspan="5">
      РАСПИСАНИЕ ПОЕЗДОВ
    </th>
  </tr>
  <tr>
    <th>
      Время отправления
    </th>
    <th>
      Время прибытия
    </th>
    <th>
      Город отправления
    </th>
    <th>
      Город прибытия
    </th>
    <th>
      Стоимость билета
    </th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let trip of trips; let i = index">
    <td>{{trip.departureTime}}</td>
    <td>{{trip.arrivalTime}}</td>
    <td>{{trip.departureCity}}</td>
    <td>{{trip.arrivalCity}}</td>
    <td>{{trip.price}}
      <button (click)="deleteTrip(i)" class="btn btn-danger">Удалить рейс</button>
    </td>
  </tr>
  </tbody>
</table>
